stages:
  - test
  - deploy

.playwright-base:
  image: mcr.microsoft.com/playwright:v1.50.0-jammy
  # ✅ POPRAWKA LITERÓWKI
  parallel: 3
  services:
    - name: postgres:latest
      alias: postgres-db 
      command: ["postgres", "-c", "fsync=off"]
  variables:
    POSTGRES_DB: postgres
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: mysecretpassword
    DB_HOST: postgres-db
    DB_USER: postgres
    DB_PASSWORD: mysecretpassword
    BASE_URL: https://jsonplaceholder.typicode.com
    PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: '1'
  cache:
    key: 
      files:
        - package-lock.json
    paths:
      - .npm/
  artifacts:
    when: always
    paths:
      - playwright-report/
    expire_in: 30 days
    reports:
      junit: test-results/results.xml

# Testy Desktopowe
e2e-desktop:
  extends: .playwright-base
  stage: test
  script:
    - npm ci --cache .npm --prefer-offline
    # Upewnij się, że masz projekt 'chromium' w playwright.config.ts!
    - npx playwright test --project=chromium --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL

# Testy Mobilne (Zakomentowane do czasu lekcji o łączeniu raportów)
# e2e-mobile:
#   extends: .playwright-base
#   stage: test
#   script:
#     - npm ci --cache .npm --prefer-offline
#     - npx playwright test --project=mobile-safari --shard=$CI_NODE_INDEX/$CI_NODE_TOTAL

pages:
  stage: deploy
  script:
    - mkdir public
    - mv playwright-report/* public/
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_BRANCH == "main"